<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AS400ConnectionString" connectionString="Provider=IBMDA400;Data source=DV400;User Id=AS400;Password=AS400;Connect Timeout=30" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- 0267 is the ID used by the SCTeller3 ActiveDirectory user previously utilized by the SportsConnectionSVC TIMClient instance -->
    <add key="CMSUserId" value="0267" />
    <add key="CMSTimeoutMillis" value="10000" />
    <!-- Leave the "." in the *_PROC values -->
    <add key="CMS_ADD_VOID_PROC" value=".CMS_ADD_VOID_SPORTS_RATINGS" />
    <add key="CMS_UPDATE_PROC" value=".CMS_UPDATE_SPORTS_WINLOSS" />
    <add key="CMSPGM" value="CMSPGM" />
    <add key="EmptyTransId" value="00000000000" />
    <add key="UpdateActionId" value="U" />
    <add key="VoidActionId" value="V" />
    <add key="AddActionId" value="A" />
    <add key="GenericCMSErrorMessage" value="Error calling internal rating system, please verify parameters."/>
  </appSettings>
</configuration>